<div class=" hero-unit">
 
<h1>Gallery</h1>

<% @ideas.in_groups_of(2) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="span4">
        <%= image_tag idea.picture_url, :width => '100%' if idea.picture.present?%>
        <h3><%= link_to idea.name, idea %></h3>
        <%= idea.description %>
        <tr><h5>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td></h5>
      </tr>
      </div>
    <% end %>
  </div>
<% end %>

<div>
</div>
 <div class="span2">
  <div style=" position:relative; top: 20px;">
<%= link_to 'New picture', new_idea_path %>
 </div>
 </div>
</div>