<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   <script>
  $(function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  });
  </script>
</head>
<body>
           <div class="row">
              <div class="large-8 columns">
                 </div>
 </div>



 
<div id="accordion">
  <h3>Read our rules</h3>
  <div>
     <ul>
      <li>Upload only your own pictures</li>
      <li>Please sign your pictures</li>
      <li>Do not delete the other pictures</li>
    </ul>
  </div>
  <h3>Gallery</h3>
  <div>
    <% @ideas.in_groups_of(2) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="span4">
        <%= image_tag idea.picture_url, :width => '100%' if idea.picture.present?%>
        <h3><%= link_to idea.name, idea %></h3>
        <%= idea.description %>
        <tr><h5>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td></h5>
      </tr>
      </div>
    <% end %>
  </div>
<% end %>
  </div>
</div>
 <div class="span2">
  <div style=" position:relative; top: 20px;">
<%= link_to 'New picture', new_idea_path %>
 </div>
 </div>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
</body>
</html>