<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #draggable { width: 150px; height: 150px; padding: 0.5em; }
  </style>
  <script>
  $(function() {
    $( "#draggable" ).draggable();
  });
  </script>

  
</head>
<body>
<div class=" hero-unit">
<h1>Gallery</h1>
<br> </br>
 
<div id="draggable" class="ui-widget-content">
  <p>Feel free to upload your own pictures, but do not destroy others one ; ) </p>
</div>
 
 
</body>

<% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="span4">
        <%= image_tag idea.picture_url, :width => '100%' if idea.picture.present?%>
        <h3><%= link_to idea.name, idea %></h3>
        <%= idea.description %>
        <tr><h5>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td></h5>
      </tr>
      </div>
    <% end %>
  </div>
<% end %>
<br> </br>
<div>
</div>
 <div class="span2">
  <div style=" position:relative; top: 20px;">
<%= link_to 'New picture', new_idea_path %>
 </div>
 </div>
</div>


</body>